header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.sidebar {
  background-color: #ddd;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
